<!DOCTYPE html>
<html>
<head>
    <title>My Flask App</title>
    <!-- Bootstrap CSS CDN style for dynamic page -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- link to our custom style sheet -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

</head>
<body>
    <!-- Element for image whos name/id is input image -->
    <div>
        <img id="inputImage" style="max-width: 100%; height: auto;"/>
        </div>
    <!-- Element for button under image whos name/id is imageInput -->
    <div>
    <input type="file" id="imageInput">
    </div>
    <!-- we tell the app that we have a file with java script functions -->
    <script src="static/js/script.js"></script>
</body>
</html>
